/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  background-color: #fff;
}

.strong {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 1090px) {
  .container {
    max-width: 1090px;
  }
}

/* Navigation */

.navbar-brand {
  padding-right: 4rem;
  font-weight: bold;
}

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
}

/* Jumbotron */

.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11.85rem 0;
  text-align: center;
  color: #fff;
  background-image: url(../images/tree-banner.jpg);
  margin-bottom: 0;
}

.jumbotron h1 {
  font-size: 3rem;
}

.jumbo-box {
  height: 18rem;
}

.jumbo-box h1 {
  padding-top: 5.5rem;
}

.project-manager h1 {
  padding-top: 4.5rem;
}

.project-manager {
  background-color: rgba(0, 162, 89, 0.75);
}

.designer {
  background-color: rgba(0, 0, 0, 0.75);
}

.developer {
  background-color: rgba(116, 42, 131, 0.75);
}

.writer {
  background-color: rgba(218, 56, 50, 0.75);
}

.jumbotron .btn {
  margin-top: 12rem;
  font-size: 2rem;
  border: 3px solid #fff;
}

/* About */

#about {
  background-color: #dfe6e9;
  padding: 2.5rem;;
}

#about p {
  font-size: 1rem;
  padding: 0.25rem 0;
}

.image-tom {
  width: 100%;
}
